---
layout: page
---

{{ content }}

<h2 class="author-archives">Posts by {{ page.title }}</h2>
<table class="archives-table">
    {% for post in site.posts %}
        {% assign author_list = post.author %}
        {% for author in author_list %}
            {% if author == page.title %}             
                <tr>
                    <td>
                        <a href="{{ post.url | relative_url}}">
                            <h2 class="list_post_title"><span class="a-nude">{{ post.title | truncate: 30 | escape }}</span></h2>
                        </a>
                    </td>
                    <td class="archives-date">
                        <h2 class="list_post_title">&#10040; {{ post.date | date: "%d/%m/%Y" | escape }}</h2>
                    </td>
             </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</table>
